.App {
  /* min-height: 1200px; */
}

body {
  background-color: #282c34;
  color: white;
}

* {
  font-family: 'Montserrat', sans-serif;
}


.jumbotron {
  padding: 2rem 1rem;
  background-color: whitesmoke;
}

.jumbotron span {
  font-weight: bold;
}

.jumbotron h1 {
  font-weight: normal;
  letter-spacing: 1px;
}

.card-text-a {
  font-weight: lighter;
}

.my-4 {
  width: 25%;
}

h2 {
  font-weight: normal;
}

.card-img-top {
  padding: 30px 30px 30px 30px;
  border-radius: 50px; 
}

.btn {
  border-radius: 50px;
}

.card-img-track {
  padding: 30px 30px 30px 30px;
  border-radius: 70px; 
  width: 250px;
  height: 200px;
  margin: auto;
}

/* homework event handling */
.search {
  text-align: center;
  margin-bottom: 20px; 
}

.imgSearch {
  border-radius: 70px;
  margin: 10px 20px 20px 50px;
}

.txtInput {
  width: 500px;
  height: 38px;
  border-radius: 60px;
  margin: 20px 7px 60px 0;
  padding-left: 30px;
}

.btnLogin {
  text-decoration: none;
  color: white;
  margin-bottom: 18px;
}

.title-spotify {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.title-spotify p {
  font-weight: 300;
}


/* css baru */
/* .track img {
  width: 40%;
  height: auto;
  border-radius: 50px;
} */

.hr {
  color: white;
}

.no-image {
  text-align: center;
}

.form-playlist {
  color: white;
}


/* Card Track */
.track {
  border-radius: 10px;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.1);
  color :#282c34;
 
}

.track-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}


.track img {
  width: 100%;
  border-radius: 8px;
  margin: auto;
  margin-top: 10px;
}